*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: "Kanit", sans-serif;
  } 
  
  .navbar {
    background-color: #feedf0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
  }
  
  .navbar-logo img {
    height: 50px;
    padding: 10px;
  }
  
  .menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu-items li {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* tombol login */
  .menu-items li:nth-child(4) {
    background-color: #FF407D;
    color: #feedf0;
    height: 40px;
    width: 90px;
    margin-top: 4px;
    border-radius:50px;

  }
  .menu-items li:nth-child(4) a {
    color: #feedf0;
    font-weight: 600;
  }
  .menu-items li:nth-child(4) a:hover {
    color: #feedf0;
  }
  .menu-items li:nth-child(4):hover {
    background-color: #d30d4c;
  }


  .menu-items li a {
    color: #1B3C73;
    text-decoration: none;
  }
  .menu-items li a:hover {
    color: #FF407D;
    text-decoration: none;
  }
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(55, 55, 55);
    margin: 3px 0;
  }

  /* main */
  .container {
    margin:0 55px ;
    padding-bottom: 50px;
  }
  .container .header1 {
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;
    align-items: center;
  }
  .container span{
    color: #FF407D;
  }
  .container h1{
    font-size: 40px;
    font-weight: 500;
  }
  .container #slogan{
    margin-bottom: 15px;
  }
  .container .header1 img{
    width: 100%;
    height: 350px;
  }

  /* header img ----------------------------------*/ 
  .header-img{
    margin-top: 50px;
    /* background-color: #FF407D; */
    display: flex;
    gap: 10px;
    position: relative;
  }
  .header-img img{
    height: 410px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
  }
  .header-img #foto{
    position: absolute;
    background-color: whitesmoke;
    bottom: 15px;
    right: 20px;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    color: #1B3C73;
  }
  .header-img #foto:hover{
    background-color: #FF407D;
    color: #feedf0;
  }

  .subheader-img{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }
  .subheader-img img{
    width: 500px;
    height: 200px;
    object-fit: cover;
    object-position:  bottom center;
    border-radius: 12px;
    overflow: hidden;
  }

  /*  menu item ---------------------------------*/
  .menu-item{
    margin-top: 10px;
    /* background-color: yellowgreen; */
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-item a{
    background-color: rgb(227, 227, 227);
    padding: 4px 14px;    
    text-decoration: none;
    color: #1B3C73;
    border-radius: 6px;
  }
  .menu-item a:hover{
    background-color:#FF407D;
    color: #feedf0;
    
  }
  .menu-item a #icon{
    transform: translateY(2px);
  }

  /*  ketrangan ---------------------------------*/
  .keterangan{
    /* background-color: yellowgreen; */
    display: flex;
    gap: 60px;
    margin-top: 20px;
  }

  .detail-kos{
    width: 100%;
  }
  .detail-kos p{
    padding-bottom: 10px;
  }
  .detail-kos .fasilitas .pengelola{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .detail-kos .fasilitas .pengelola .pengelola-ket h4{
    margin-top: -15px;
    color: #FF407D;
  }
  .detail-kos .fasilitas .subpengelola {
    margin:15px 5px;
  }


  .sewa{
    border-radius: 12px;
    padding: 23px 28px;
    width: 500px;
    height: 300px;
    box-shadow: 5px 5px 30px rgba(250, 192, 213, 0.588);
  }
  .sewa h2{
    color: #FF407D;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  .sewa h2 span{
    color: #1B3C73;
    font-size: 25px;
    font-weight: 400;
  }
  .sewa form{
    padding-top: 10px;
  }
  .sewa form input{
    width: 100%;
    height: 50px;
    padding: 4px 12px;
    margin-top: 8px;
    border-radius: 6px;
    font-size: 18px;
    border: 1px solid rgb(223, 223, 223);
  }
  .sewa form .ajukan{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .sewa form .ajukan a:nth-child(1){
    color: #FF407D;
    border: 1px solid #FF407D;
    padding: 12px 28px;
    border-radius: 6px;
    font-size: 15px;
    text-decoration: none;
  }
  .sewa form .ajukan a:nth-child(1):hover{
    color: #feedf0;
    border: none;
    background-color: #FF407D;
  }
  .sewa form .ajukan a:nth-child(2){
    color: #feedf0;
    background-color: #FF407D;
    padding: 12px 28px;
    border-radius: 6px;
    font-size: 15px;
    text-decoration: none;
  }
  .sewa form .ajukan a:nth-child(2):hover{
    color: #feedf0;
    background-color: #d30d4c;
  }


/* resposif */
  @media screen and (max-width: 765px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        padding: 0;
    }
  
    .navbar-menu .active{
      display: block;
      background-color: #FF407D;
      height: 50vh;
      width:60%;
      position: absolute;
      margin-top: 28px;
      transform: translateX(-46%);
      
    }
  
    .menu-items {
      display: none;
      flex-direction: column;
      align-items: start;
      padding: 20px;
    }
  
    .menu-items li {
      padding: 10px 0;
    }
    .menu-items li a{
      color: #feedf0;
    }
    .menu-items li a:hover{
      color: #1B3C73;
    }

    /* login btn */
    .menu-items li:nth-child(4) {
      background-color: transparent;
      color: #feedf0;
      padding: 0;
      border-radius: 0;
      margin-left: 0;
    }
    .menu-items li:nth-child(4) a{
      font-weight: 100;
    }
    .menu-items li:nth-child(4) a:hover{
      color: #1B3C73;
    }
  
    .menu-items li:nth-child(4):hover{
      background-color: transparent;
    }
  
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }


    /* main */
    .container {
      margin: 0 10px;
      /* background-color: rgb(194, 98, 245); */
    }
    .container span{
      color: #FF407D;
    }
    .container .header1 h1{
      margin-top: 25px;
      margin-bottom: -5px;
    }

   
}
  